<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= cl_image_tag "logo_ziaadl.jpg", class: "logo" %>
    <% end %>

     <div class=<%= (current_page?(root_path) || current_page?(aboutpage_path)) ? "d-none" : "wrap"  %>>
    <div class="search">
        <%= form_with url: products_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :location,
            params[:location],
            class: "searchTerm",
            placeholder: "Search for an item.."
          %>
          <%= submit_tag "Search", class: "searchButton" %>
        <% end %>
    </div>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  </div>
    <% if user_signed_in? %>
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        <%= cl_image_tag "avatar_e7isyr.png" , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </button>
      <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
</div>

    <div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          <%= link_to "Orders", "#", class: "dropdown-item"%>
          <%= link_to "Listings","#", class: "dropdown-item"%>
          <%= link_to "Basket", basket_path, class: "dropdown-item"%>
        </div>
      </div>
    </div>
