<div class="banner">
  <div class="banner-content text-center">
    <h1>Le Wagon Marketplace</h1>
    <p>The place for Wagoners to buy and sell items they no longer need to fellow alumni and incoming students</p>
    <div class="d-flex justify-content-center">
      <%= form_with url: products_path, method: :get, class: "d-flex flex-column justify-content-center" do %>
            <div class="d-flex" style="height: 35px !important;">
              <%= text_field_tag :buy,
                params[:buy],
                class: "searchTerm",
                placeholder: "Search for an item"
              %>
              <%= submit_tag "Search", class: "searchButton" %>
                <i class="fa fa-search"></i>
            </div>
      <% end %>
    </div>
  </div>
</div>



<div class="my-5">
  <div class="d-flex flex-column align-items-center ">
    <div class="">
    </div>
    <div class="cards d-flex justify-content-center">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1321288902/photo/black-grey-wooden-plank-wall-texture-background-old-natural-pattern-of-dark-wood-grained.jpg?b=1&s=170667a&w=0&k=20&c=yhXBT7-l23YBvyKGDDGkajz2aMuyxaooJQtyaKnTt_M=)">
          <%= link_to products_path(category: "All Products"), class: "text-decoration-none text-white" do %>
            <p>All Products</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0223/2583/files/Dark_Bed_Bedroom_2048x2048.jpg?v=1590569816)">
          <%= link_to products_path(category: "Bedroom"), class: "text-decoration-none text-white" do %>
            <p>Bedroom</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.rangemaster.co.uk/sites/default/files/2020-03/15%29-Eclipse-gas-hob.jpg)">
          <%= link_to products_path(category: "Kitchenware"), class: "text-decoration-none text-white" do %>
            <p>Kitchenware</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ikea.com/ext/ingkadam/m/26964c340a65a775/original/PH188705.jpg?f=s)">
          <%= link_to products_path(category: "Living Room & Garden"), class: "text-decoration-none text-white" do %>
            <p>Living Room & Garden</p>
          <% end %>
        </div>
      </div>
      <div class="cards d-flex justify-content-center my-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1196974664/photo/set-of-home-kitchen-appliances-in-the-room-on-the-wall-background.jpg?s=612x612&w=0&k=20&c=dUSAMg-LUh6j-4437kz30w8k7KgJiR8yrTTXhGiFh0s=)">
          <%= link_to products_path(category: "Electronics"), class: "text-decoration-none text-white" do %>
            <p>Electronics</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.tulipinterior.co.uk/media/catalog/product/cache/81dee17ffd7367b8514329e52427d205/image/4759949e/dark-metal-sliding-door-wardrobe.jpg)">
          <%= link_to products_path(category: "Clothing"), class: "text-decoration-none text-white" do %>
            <p>Clothing</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pythonbicycles.com/wp-content/uploads/2020/10/lightweight.jpg)">
          <%= link_to products_path(category: "Sports & Leisure"), class: "text-decoration-none text-white" do %>
            <p>Sports & Leisure</p>
          <% end %>
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/3377405/pexels-photo-3377405.jpeg?cs=srgb&dl=pexels-elīna-arāja-3377405.jpg&fm=jpg)">
          <%= link_to products_path(category: "Other"), class: "text-decoration-none text-white" do %>
            <p>Other</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
