<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Basket</h1>
  </div>

  <div class="d-flex justify-content-between mt-3">
    <div class="basket">
      <% @transactions.each do |transaction| %>
        <div class="card-product d-flex justify-content-start mt-3" >
          <%= cl_image_tag transaction.product.photos.first.key, width: 400, height: 350, crop: :fill %>
            <ul style="list-style:none; width: 100%;" class="d-flex justify-content-between mt-1">
              <div style="width: 75%">
                <li><%= transaction.product.item %></li>
              </div>
                <div style="width: 25%" class="d-flex flex-column justify-content-between text-bold">
                  <div class="d-flex justify-content-end pe-3">
                    <%= link_to 'X', transaction_path(transaction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none text-secondary" %>
                  </div>
                  £<%= transaction.product.price.round(2) %>
                </div>
            </ul>
        </div>
      <%end%>
    </div>

<% link_to "Buy now", root_path, method: :get %>
    <div class="total mt-3">
      <p class="mt-1">Basket total: </p>£<%= @transactions.map { |transaction| transaction.product.price.round(2) }.sum %>
      <%= link_to "Checkout", checkout_path, class:"button" %>
    </div>
  </div>
</div>
