<div class="d-flex flex-column justify-content-center" style="width: 30%; margin: 0 auto;">
  <h1 class="text-center mt-5 border-3 pb-2">Thank you!</h1>
  <div class="border mt-4 total py-4">
    <h3 class="text-center mt-2 fw-bolder fs-2">Order Summary</h3>
    <div class="d-flex justify-content-center">
      <p class="border-bottom" style="width: 80%"></p>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
      <% @products.each do |product| %>
        <div class="d-flex justify-content-between"  style="width: 50%">
          <p><%= product.item %></p>
          <p>£<%= '%.2f' % product.price %></p>
        </div>
      <% end %>
      <div class="d-flex justify-content-between mt-4 fs-4 fw-bold" style="width: 70%">
        <p>Total paid</p>
        <p>£<%= '%.2f' % @products.map(&:price).sum %></p>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <%= link_to "View Orders", mydashboard_path, class: "button me-3 fs-6" %>
      <%= link_to "Back to Homepage", root_path, class: "button fs-6" %>
    </div>
  </div>
</div>
