<div class="container3 min-height">
  <h1 class= "d-flex justify-content-center">Orders</h1>
  <div class="d-flex justify-content-center">
    <%= link_to "Add a new product", new_product_path, class: "button"  %>
  </div>
    <% if purchased_products.empty? %>
      <div>
        <p class="d-flex justify-content-center">
        <%="You're yet to make any purchases!"%></p>
      </div>
    <% else %>
      <div class="d-flex justify-content-center mt-3">
        <div class="basket d-flex justify-content-center flex-wrap">
          <% purchased_products.each do |product| %>
            <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
              <div class="card-product mt-3 width-50%">
                <%= cl_image_tag product.photos.first.key, width: 400, height: 350, crop: :fill %>
                <ul style="list-style:none; width: 100%;" class="d-flex justify-content-between mt-1 product-card-info">
                  <div style="width: 55%" class="d-flex flex-column align-items-start justify-content-between mt-1 ms-3">
                    <li class="item-name"><%= product.item %></li>
                    <li> £<%= '%.2f' % product.price %></li>
                  </div>
                </ul>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    <%end%>
</div>
