<div class="container3">
  <h1 class= "d-flex justify-content-center">Sold Products</h1>
  <% if sold_products.empty? %>
    <div>
      <p class="d-flex justify-content-center">
      <%="You're yet to sell any items!"%></p>
    </div>
  <% else %>
    <div class="d-flex justify-content-center mt-3">
      <div class="basket d-flex flex-wrap <%= listed_products.count > 3 ? "justify-content-start" : "justify-content-center" %>">
        <% sold_products.each do |product| %>
          <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
            <div class="card-product mt-3 width-50%">
              <%= cl_image_tag product.photos.first.key, width: 400, height: 350, crop: :fill %>
              <ul style="list-style:none; width: 100%;" class="d-flex justify-content-between mt-1 product-card-info">
                <div style="width: 55%" class="d-flex flex-column align-items-start justify-content-between mt-1 ms-3">
                  <li class="item-name"><%= product.item %></li>
                  <li> £<%= '%.2f' % product.price %></li>
                </div>
              </ul>
            </div>
          <%end%>
            <div class="pe-3">
              <%= link_to 'X', product_path(product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none text-secondary mr-0", id: "delete-x" %>
            </div>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
