<h1>Add new a listing</h1>

<%= simple_form_for [@product] do |f| %>
  <%= f.input :item, label: 'whats your item?' %>
  <%= f.input :description, label: 'brief description of the item' %>
  <%= f.input :price, label: '?' %>
  <%= f.button :submit %>
<% end %>
