
<div class=" mt-3">

  <div class="show">
    <h1><%= @product.item %></h1>
  </div>

  <div class="container d-flex justify-content-around" style="width: 100%;">
    <div class="card-container">
      <div style="width: 100%;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @product.photos.first.key, class:"d-block", width: 700, height: 350, crop: :fill, gravity: :auto %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @product.photos.second.key, class:"d-block", width: 700, height: 350, crop: :fill, gravity: :auto %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @product.photos.third.key, class:"d-block", width: 700, height: 350, crop: :fill, gravity: :auto %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-around" style="width: 749px">
    <div class="d-flex justify-content-center">
      <div class="card-product1 mb-4" style="height: 265px">
        <h4 class="product-name"><%= @product.description %></h4>
        <h4>£<%= '%.2f' % @product.price %></h4>
        <div>
          <div class="seller-avatar d-flex justify-content-left mt-2">
            <%= cl_image_tag @product.user.photo.key, class: "rounded" %>
            <%=  link_to "https://lewagon-alumni.slack.com/team/#{@product.user.slack_id}", class: "user-info align-text-center text-decoration-none mt-4" do %>
              <h4><%= "#{@product.user.name} (##{@product.user.batch})"%></h4>
            <% end %>
            <% unless @product.user.id == current_user.id %>
              <div class="basket-b d-flex justify-content-center mt-5 mb-5" data-controller="confirm">
                <%= button_to "Add to basket", product_transactions_path(@product), id: :confirm, method: :post, class:"button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Success!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Succesfully added to basket!
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <p class="button"><%= link_to "Go to Basket", basket_path, class: "text-decoration-none text-light" %></p>
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%= link_to "Continue Shopping", products_path, class: "button" %>
        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
      </div>
    </div>
  </div>
</div>

</div>
